<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Todos Angular
  </h1>
</div>
<h2>Usuarios cadastrados.</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Login</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let usuario of usuarios'>
      <th scope="row">{{usuario.id_Usuario}}</th>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.login}}</td>
    </tr>
  </tbody>
</table>

